* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --semi-black: #04080F;
    --darker-blue: 92, 134, 193;
    --light-blue: 161, 198, 234;
    --gldn-rod: #E6AF2E;
    --red: #FF1053;
    --green: #4FB477;
}

body {
    background-color: rgb(var(--light-blue));
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    z-index: 10;
}

header::before, .menu-items::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(8px);
    background-color: rgba(var(--darker-blue), 0.5);
}

#logo {
    height: 100%;
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-block: 5px;
}

#logo img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    align-self: stretch;
    align-items: stretch;
    transition: transform 0.3s ease-in-out;
}

.menu-items li {
    color: white;
    display: flex;
    align-items: center;
}

.menu-items li a {
    font-size: 1rem;
    padding: 1em 1em;
    color: inherit;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-items li:hover {
    background-color: white;
    color: black;
}

.hamburger {
    height: 32px;
    flex-basis: 32px;
    flex-grow: 0;
    flex-shrink: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamburger span {
    width: 100%;
    height: 3px;
    margin: 3px;
    background-color: white;
}

/* footer */

footer {
    background-color: var(--semi-black);
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 10%;
}

.logo-lg {
    height: 30%;
    width: 30%;
}

footer {
    color: white;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer li:not(:last-child) {
    margin-bottom: 1rem;
}

footer h3 {
    margin: 2rem;
    /* text-align: left; */
}

/* media */

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu-items {
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        top: 100%;
        left: 0;
        height: 500%;
        width: 100%;
        transform: translateX(100%);
    }

    .menu-items.active {
        transform: translateX(0);
    }

    .menu-items li {
        width: 100%;
        justify-content: center;
    }

    #rs {
        font-size: 2.5em;
    }

    :root {
        font-size: 12px;
    }

}